{* version 20140404 *}

<link rel="stylesheet" href="{$openLayersPath}/theme/default/style.css" type="text/css" />
<script src="{$openLayersPath}/OpenLayers.light.js"></script>
<div id="mapBox">
	<div id="overmap"></div>
</div>
