{* version 20121221 *}

<h1>{$label[28]}</h1>

<p>
{$label[29]}: <b>{$about['verApp']}</b>, DB: <b>{$about['verApp']}</b>
</p>

<p>
{$label[32]}:
 <a href="mailto:micka@hsr.cz">micka@hsrs.cz</a> |
 <a href="{$basePath}/themes/default/img/kocka.jpg">micka</a> 
</p>
<br/>
<p>
<a href="http://www.hsrs.cz" target="_blank"><img src="themes/default/img/logo_hsrs_.png" alt="Help Service Remote Sensing" title=" Help Service Remote Sensing"/></a>
</p>