<h1>Contacts:</h1>
<br/><br/>
<b>Contact email</b>
<br/><br/>
<div>for your questions and comments to metadata catalogue or metadata of the Czech Geological Survey:</div>
metadata@geology.cz
<br/><br/><br/><br/>

<table style="width:180px;">
	<tr>
		<td style="padding:10px; background:#EDF5F8">
			<div style="font-weight:bold;margin-bottom:10px;">Database management</div>
			<div>Mgr. Olga Moravcová, Ph.D.</div>
			<div>Czech geological survey</div>
			<div>Klárov 3</div>
			<div>118 21 Praha 1</div>
			<div>Czech republic</div>
			<div>phone: +420 257 089 445</div>
			<div>fax: +420 257 531 376</div>
		</td>
	</tr>
</table>