<h1>Kontakty:</h1>
<br/><br/>
<b>Kontaktní email</b>
<br/><br/>
<div>pro dotazy a připomínky k metadatovému katalogu nebo metadatům ČGS:</div>
metadata@geology.cz
<br/><br/><br/><br/>

<table style="width:180px;">
	<tr>
		<td style="padding:10px; background:#EDF5F8">
			<div style="font-weight:bold;margin-bottom:10px;">Správa databáze</div>
			<div>Mgr. Olga Moravcová, Ph.D.</div>
			<div>Česká geologická služba</div>
			<div>Klárov 3</div>
			<div>118 21 Praha 1</div>
			<div>Česká republika</div>
			<div>tel.: +420 257 089 445</div>
			<div>fax: +420 257 531 376</div>
		</td>
	</tr>
</table>